{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<div class="m-5">

		<h2>Mon compte</h2>
		Bonjour
		{{ app.user.firstname }}.
		<hr>
		{% for message in app.flashes('notice') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<div class="list-group">

			<a href="{{ path('account_modif') }}" class="list-group-item list-group-item-action">

				Modifier mes informations
			</a>

			{# <a href="{{ path('account_orders') }}" class="list-group-item list-group-item-action">
																		Mes commandes
																	</a> #}


		</div>

	</div>

{% endblock %}
