{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/c_styles.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<div class="card">
					<div class="card-header bg-secondary bg-gradient text-white text-center py-4">
						<h3>Se connecter</h3>
					</div>

					<div class="card-body px-lg-5 pt-0">
						<form action="#" method="post">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" name="email" id="email" class="form-control" placeholder="Entrez votre email">
							</div>

							<div class="form-group">
								<label for="password">Mot de passe</label>
								<input type="password" name="password" id="password" class="form-control" placeholder="Entrez votre mot de passe">
							</div>

							<div class="form-group d-flex justify-content-between align-items-center">
								<a href="{{ path('motDePasseOublie') }}">Mot de passe oublié?</a>
								<button type="submit" class="btn btn-primary">Se connecter</button>
							</div>
						</form>

						<p class="text-center mt-4">Vous n'avez pas de compte ? <a href="{{ path('creerCompteP') }}">S'inscrire</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
