{% extends 'base.html.twig' %}

{% block title %}Mentions légales - Marsyclebook{% endblock %}

{% block body %}

	<div class="container my-5">
		<div class="row">
			<div class="col-md-12">
				<h2 class="mb-4">Mentions légales</h2>
				<p class="lead">Ce site est édité par Marsyclebook, SAS au capital de XXX €, dont le siège social est situé 21 Rue Marc Donadille, 13013 Marseille, immatriculée au RCS de Marseille sous le numéro 123456789.</p>
				<p class="lead">Le site est hébergé par OVH, SAS au capital de 10 069 020 €, dont le siège social est situé 2 rue Kellermann, 59100 Roubaix, immatriculée au RCS de Lille Métropole sous le numéro 424 761 419 00045.</p>
				<p class="lead">Le site a été conçu et développé par l'équipe de Marsyclebook.</p>
				<p class="lead">Pour toute question relative à ce site ou à son contenu, vous pouvez contacter l'équipe de Marsyclebook à l'adresse suivante : contact@marsyclebook.com</p>
			</div>
		</div>
	</div>

{% endblock %}
