{% extends 'base.html.twig' %}


{% block title %}Hello IndexController!
{% endblock %}

{% block stylesheets %}{% endblock %}


{% block body %}
	<div class="container">
		<h4>VOS ARTICLES</h4>
		<span>
			Vous avez commandé 2 articles
		</span>

		<div class="container-fluid mb-5 mt-5">

			<div class="row">
				<div class="col">
					<img class="card-img-top" src="{{asset('images/livre1.png')}}" style="height:250px; width:200px" alt="Card image cap">
				</div>
				<div class="col">
					<div class="d-flex flex-column">
						<span>TITRE LIVRE 1
						</span>
						<span>1 x 30 EUR</span>
						<span>TOTAL 30 EUR</span>
					</div>
				</div>
				<div class="col">
					<img class="card-img-top" src="{{asset('images/trash.png')}}" alt="Card image cap" style="height:30px; width:30px">
				</div>
			</div>
		</div>


		<div class="container-fluid mb-5">

			<div class="row">
				<div class="col">
					<img class="card-img-top" src="{{asset('images/livre2.png')}}" style="height:250px; width:200px" alt="Card image cap">
				</div>
				<div class="col">
					<div class="d-flex flex-column">
						<span>TITRE LIVRE 2
						</span>
						<span>1 x 40 EUR</span>
						<span>TOTAL 40 EUR</span>
					</div>
				</div>
				<div class="col">
					<img class="card-img-top" src="{{asset('images/trash.png')}}" alt="Card image cap" style="height:30px; width:30px">
				</div>
			</div>
		</div>

		<div style="float:right">
			<button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
			<button type="button" class="btn btn-sm btn-outline-secondary">Annuler</button>
		</div>


	</div>

{% endblock %}
