{# {% extends 'base.html.twig' %}


{% block title %}Hello IndexController!
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/c_styles.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}
	<div class="container-fluid">

		<h4 class="text-center">MOT DE PASSE OUBLIÉ</h4>


		<div class="d-flex flex-column  justify-content-between mt-4 p-5 container border border-dark" style="width:450px; height:350px">
			<span class="text-center">
				Saisissez l'adresse mail associée à votre compte
			</span>
			<input type="text" name="email" id="email" class="form__input" placeholder="Email">
			<button type="button" class="btn btn-sm btn-outline-secondary">Envoyer</button>

			<a href="{{path('connexion')}}">Retour à la page connexion</a>

		</div>
	</div>
{% endblock %} #}
