{# {% extends 'base.html.twig' %}


{% block title %}Hello IndexController!
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/c_styles.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}
	<div class="container-fluid m-5">

		<h4 class="text-center">CRÉER VOTRE COMPTE ENTREPRISE</h4>


		<div class="d-flex flex-column  mt-4 p-5 container border border-dark bg-light" style="width:550px; height:350px">


			<div class="row text-center" id="headFormCreerCompte" style="">
				<div class="col mb-5">
					<a href="{{path('creerCompteP')}}">PARTICULIER</a>
				</div>
				<div class="col">
					<a href="{{path('creerCompteEnt')}}">ENTREPRISE</a>
				</div>
			</div>


			<div class="row" id="contentFormCreerCompte">

				<div class="col">
					<div class="d-flex flex-column  justify-content-between" style="height:170px">


						<input type="text" name="email" id="email" class="form__input" placeholder="Email">
						<input type="text" name="nomEnt" id="nomEnt" class="form__input" placeholder="Nom de l’entreprise">
						<input type="text" name="pass" id="pass" class="form__input" placeholder="Mot de passe">
						<button type="button" class="btn btn-sm btn-outline-secondary m-3">Annuler</button>
					</div>
				</div>

				<div class="col">
					<div class="d-flex flex-column  justify-content-between" style="height:170px">
						<input type="text" name="phone" id="phone" class="form__input" placeholder="Numéro de téléphone">
						<input type="text" name="siren" id="siren" class="form__input" placeholder="№ SIREN">
						<input type="text" name="confPass" id="confPass" class="form__input" placeholder="Confirmer votre mot de passe">

						<button type="button" class="btn btn-sm btn-outline-secondary m-3">Créer mon compte</button>

					</div>
				</div>

			</div>


		</div>
	</div>
{% endblock %} #}
