{% extends "base.html.twig" %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<div class="text-center m-5">
		<h5>
			<a class="nav-link" href="{{ path('admin_produits') }}">

				Administration des produits

			</a>

		</h5>
		<h5>
			<a class="nav-link" href="{{ path('admin_users') }}">

				Administration des utilisateurs

			</a>

		</h5>
		<h5>
			<a class="nav-link" href="{{ path('admin') }}">
				Administration des categories

			</a>

		</h5>
	</div>


{% endblock %}
